<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="c:\log.txt" internalLogLevel="Trace">
  <targets>
    <target xsi:type="NLogViewer"
            name="viewer"
            address="udp://127.0.0.1:9999"/>
    <target name="file" xsi:type="File"
      layout="${longdate} ${logger} ${message}${exception:format=ToString}"
      fileName="log.txt"
      keepFileOpen="true"
      encoding="utf-8" />
  </targets>
  <rules>
    <logger name="*"
            minlevel="Debug"
            writeTo="viewer,file" />
  </rules>
</nlog>